$rt-green: #3b6632;
$rt-purple: #663255;
$rt-white: lighten(azure, 2.1%); // $rt-white: ghostwhite;
$rt-editor-white: lighten(linen, 5%);
$editor-margin: 3% auto;

body {
  background-color: $rt-white;
  height: 100%;
}
//viewerSize extender outter div of the textEditor

.viewerSize {
  margin: $editor-margin;
  width: 80vw;
  height: 78%;
}
// hamburgerIcon animation and style

.bar {
  width: 35px;
  height: 5px;
  background-color: $rt-purple;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburgerIcon {
  display: inline-block;
  cursor: pointer;

  .bar1 {
    @extend .bar;
  }

  .bar2 {
    @extend .bar;
  }

  .bar3 {
    @extend .bar;
  }
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
//Navs

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: $rt-white;
}

.second {
  color: $rt-white;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  padding: 2%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);

  a {
    color: $rt-green;
    margin: 0 3%;
  }
}

h1 {
  color: $rt-purple;
}

form {
  box-sizing: border-box;

  label {
    display: block;
  }

  input {
    display: block;
  }
}

.hidden {
  display: none;
}
//draft editor styling newpost

.textEditorWrapper {
  @extend .viewerSize;
  border: 1px solid $rt-green;

  .DraftEditor-root {
    height: 500px;
    background-color: $rt-editor-white;

    .DraftEditor-editorContainer {
      width: 100%;
      height: 100%;

      div {
        width: 100%;
        height: 100%;
      }
    }
  }

  button {
    background-color: inherit;
    border: none;
  }

  button:hover {
    border: 1px solid black;
  }
}
//draft editor styling index item

.indexItem {
  border: 5px solid $rt-green;
  margin: 3px auto;
  border-radius: 4%;

  h2 {
    margin: 0;
  }

  span {
    margin: 0 1%;
  }

  p {
    border: 1px solid $rt-green;
  }

  .indexBar {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    grid-gap: 1%;
    border-bottom: 1px solid rgba(0,0,0,.3);

    button {
      background-color: inherit;
      border: none;
      color: $rt-green;
    }

    a {
      color: $rt-green;
    }
  }

  .DraftEditor-root {
    width: 100%;
    height: 100px;
    background-color: $rt-editor-white;
  }
}
// drastf teditor read only  styling showPost

.showPost {
  border: 1px solid $rt-purple;
  @extend .viewerSize;

  .DraftEditor-root {
    height: 500px;

    .DraftEditor-editorContainer {
      width: 100%;
      height: 100%;
    }
  }
}
//draft editor styling update post

.UpdatePost {
  @extend .viewerSize;
  border: 1px solid $rt-purple;

  .DraftEditor-root {
    height: 500px;
    background-color: $rt-editor-white;

    .DraftEditor-editorContainer {
      width: 100%;
      height: 100%;
    }
  }

  button {
    border: none;
    background-color: inherit;
  }
}
// div {
//   border: 1px solid #3b6632;
// }